body {
    background: rgb(236,236,236);
}
h1, h3 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Anton', sans-serif;
}
h4 {
    font-family: 'Abel', sans-serif;
}
.color1 {
    background-color: #E6563B;
}
.color2 {
    background-color: #EB9D3A;
}
.color3 {
    background-color: #7CB06C;
}
.color4 {
    background-color: #00ABA9;
}
.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    border: solid rgb(252,252,252) 5px;
}
.text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    font-family: 'Anton', sans-serif;
}
.icon {
    margin-left: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    text-align: center;
}
.nav-bg {
    height: 60px;
}
.nav-bar {
    height: 105px;
    width: 105px;
    text-align: center;
}
.logo-bg {
    background-color: white;
    height: 50px;
    top: 50px;
    position: absolute;
    z-index: 1;
}
.logo {
    height: 105px;
    width: 105px;
    z-index: 3;
    margin: 1.5em auto;
}

.nav-links {
    font-family: 'Abel', sans-serif;
}
a {
    color: black;
}
hr {
    width: 85%;
}
img {
    width: 450px;
    height: 320px;
}

@media screen and (max-width: 575px ) {
    .featured {
        font-size: .7em;
        /*text-align: center;*/
    }
    .featured-1 {
        text-align: right;
    }
    .sm-nav {
       display: none;
    }
    .last-tweet {
        display: none;
    }
    .selected-work {
        text-align: center;
    }
    .md-lg-nav {
        display: none;
    }
    .co-name {
        display: none;
    }
    .last-tweet {
        display: none;
    }
    .last {
        display: none;
    }
    .linebreak {
        display: none;
    }
    .large-md-custom {
        display: none;
    }
    .xs-hide {
        display: none;
    }
}
@media screen and (min-width: 576px) {
    .featured {
        font-size: .5em;
    }

    .xs-nav {
        display: none;
    }

    .custom-link {
        margin-top: 3.5em;
        z-index: 3;
    }

    .last-tweet {
        display: none;
    }

    .selected-work {
        text-align: center;
    }

    .md-lg-nav {
        display: none;
    }

    .co-name {
        display: none;
    }

    .last {
        display: none;
    }

    .large-md-custom {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .last-tweet {
        display: block;
    }
    .selected-work {
        text-align: left;
    }
    .sm-nav {
        display: none;
    }
    .xs-nav {
        display: none;
    }
    .md-lg-nav {
        z-index: 2;
        display: inline-block;
    }
    .logo {
        z-index: 2;
        margin-left: 20px;
    }
    .co-name {
        display: inline;
        z-index: 2;
        text-align: right;
    }
    .logo-bg {
        z-index: 0;
    }
    .large-md-custom {
        display: flex;
    }
    .last {
        display: inline;
    }

}

@media screen and (min-width: 992px){

}